# Python >= 3.9

# Video processing
av
numpy
simplejpeg

# OCR and text processing
Fast-SSIM
cpuid
opencc
thefuzz
wordninja-enhanced

# Telegram side
pyrogram
tgcrypto

# Archive extraction
https://github.com/aliasfoxkde/py7zip/archive/main.zip
